@import url(reset.css);
@import url(fonts.css);
body {
  font-family: "GothamRnd";
  font-style: normal;
  font-weight: 500;
}

.category-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-item {
  margin: 30px 40px;
}

.category-photo {
  background-color: grey;
  height: 60px;
  width: 60px;
}

.category-img {
  height: 60px;
  width: 60px;
}

.category-label {
  margin-top: 5px;
}

.coupons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coupon {
  width: 80%;
  border-radius: 15px;
  /* Rounded border */
  margin: 0 auto;
  /* Center the coupon */
  max-width: 230px;
}

.coupon-container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.coupon__photo {
  background-color: grey;
  height: 200px;
  width: 200px;
}

.coupon__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coupon__second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coupon__third-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coupon__name {
  font-size: 17pt;
}

.coupon__description {
  font-size: 7pt;
  font-weight: 700;
}

.coupon__exp-time {
  font-size: 6pt;
  font-weight: 100;
}

.register-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-form {
  background: #f1f1f1;
}

.login-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form {
  background: #f1f1f1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.acceptbtn {
  display: inline-block;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #04aa6d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.signinbtn {
  display: inline-block;
  padding: 0.2em 1.45em;
  margin: 0.1em;
  border: 0.15em solid #04aa6d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.acceptbtn:hover {
  opacity: 1;
}

.signinbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.register__label {
  font-size: x-large;
  text-align: center;
  margin-right: 390px;
  height: 70px;
  padding-top: 20px;
}

.login__label {
  font-size: x-large;
  text-align: center;
  margin-right: 300px;
  height: 70px;
  padding-top: 20px;
}

.login-buttons {
  text-align: center;
  margin-left: 250px;
}

.item-buttons {
  text-align: center;
  margin-left: 436px;
}

.register-buttons {
  text-align: center;
  margin-left: 250px;
}

.register-form-second-column {
  padding-left: 15px;
}

.add-item__label {
  font-size: x-large;
  text-align: center;
  margin-right: 480px;
  height: 70px;
  padding-top: 20px;
}

.inputs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}

.second-column-login {
  margin-left: 30px;
}

.item-form-textarea {
  resize: none;
  width: 100%;
  height: 140px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

select.item-form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

select.item-form-select option {
  color: #000;
  padding: 0 10px;
}

.select {
  position: relative;
  width: 300px;
}

.input-icon {
  position: absolute;
  margin-top: 20px;
  margin-left: 250px;
}

#topBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#topBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  left: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
/*# sourceMappingURL=style.css.map */